@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;900&display=swap');

*{
    margin: 0;
    padding: 0;
    
}

body{
    background: rgb(39, 39, 44);
    overflow-x: hidden;
    text-decoration: none !important
}

@media (max-width: 768px){
    body{
        width: 100%;
        height: 100vh;
        overflow-x: hidden;

    }
}





